body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.half{
    width: 50%;
    
}
.half2{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.big-size{
    font-size: 50px;
}
.medium-size{
    font-size: 25px;
}
.button{
    background-color: #E02C6D;
    width: 170px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}
.button2{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}
.anchor{
    text-decoration: none;
    color: white;
    
}
.anchor2{
    text-decoration: none;
    color: #E02C6D;
}
.fa-arrow-right.filled{
    margin-left: 10px;
    color: white;
}
.fa-arrow-right.filled2{
    color: #E02C6D;
}

.image img{
    height: 414px;
    width: 440px;
   
}
.gray{
    color: #AAAAAA;
}
.logos{
    width: 1110px;
   margin: 100px auto;
}
.logo-pic{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 20px;
    margin: 30px;
    align-items: center;
}
.popular-collection{
    width: 1047px;
    margin: 50px auto;

}
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 40px;
    grid-column-gap: 40px;

}
.item{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 25px;
   
}
.item img{
    height: 256px;
    width: 300px;
}
.fa-star.yello{
    color: orange;
}
.fa-star-half-stroke.yello{
    color: orange;
}
.cent{
    text-align: center;
   
}
.details{
    height: 270px;
    width: 1110px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 5px;
}
.banner img{
    height: 270px;
    width: 404px;
}
.footer{
    color: whitesmoke;
    background-color: darkslateblue;
    text-align: center;
    padding: 25px;
}
.icons{
    display: flex;
    justify-content: center; 
}
.gap{
    margin-left: 10px;
    color: whitesmoke;
}